.main {
  h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
    font-family: Radley, Helvetica, sans-serif;
  }

  .email, .phone {
    position: absolute;
    top: 15px;
    i {
      padding: 0 8px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
  $contactPadding: 50px;
  .email {
    right: $contactPadding;
  }
  .phone {
    left: $contactPadding;
  }

  .charts {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    padding: 0 70px;

    .separator {
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      background: radial-gradient(circle, #000 0%, rgba(0, 0, 0, 0));
      height: 470px;
    }
  }

  h2.tools, h2.exp {
    text-transform: uppercase;
    text-align: center;
  }
  .tools-section {
    display: flex;
    width: 800px;
    margin: 20px auto 40px auto;

    .tool {
      $border: 1px solid green;
      $height: 35px;
      background: rgb(164, 198, 57);
      color: white;
      font-weight: 600;
      border-left: $border;
      text-align: center;
      height: $height;
      line-height: $height;

      &.git {
        flex: 0 0 16%;
        border-radius: 5px 0 0 5px;
        border-left: none;
      }
      &.intellij {
        flex: 0 0 23%;
      }
      &.eclipse {
        flex: 0 0 23%;
      }
      &.xcode {
        flex: 0 0 23%;
      }
      &.gulp {
        flex: 0 0 15%;
        border-radius: 0 5px 5px 0;
      }
    }
  }

}

@media print {
  html {
    transform: scale(.8);
    transform-origin: top center;
  }
}

