.main
  h1 Samer Chahine
  .charts
    chart-section(name="languages" values="langValues")
    .separator
    chart-section(name="frameworks" values="fwValues")

  h2.tools TOOLS
  .tools-section
    .tool.git git
    .tool.intellij IntelliJ
    .tool.eclipse Eclipse
    .tool.xcode Xcode
    .tool.gulp gulp/grunt

