.main
  .email
    i.fa.fa-envelope
    a(href="mailto:samerce@gmail.com") samerce@gmail.com
  h1 Samer Chahine
  .phone
    i.fa.fa-phone
    a(href="tel:2069632611") (206) 963-2611
  .charts
    chart-section(name="languages" values="langValues")
    .separator
    chart-section(name="frameworks" values="fwValues")

  h2.tools TOOLS
  .tools-section
    .tool.git git
    .tool.intellij IntelliJ
    .tool.eclipse Eclipse
    .tool.xcode Xcode
    .tool.gulp gulp/grunt

  h2.exp EXPERIENCE
  timeline(nodes="timelineNodes")

