.main
  a.email(href="mailto:samerce@gmail.com")
    i.fa.fa-envelope
    div samerce@gmail.com
  h1 Samer Chahine
  a.phone(href="tel:2069632611")
    i.fa.fa-phone
    div (206) 963-2611
  .charts
    chart-section(name="languages" values="langValues")
    .separator
    chart-section(name="frameworks" values="fwValues")

  h2.tools TOOLS
  .tools-section
    .tool.git git
    .tool.intellij IntelliJ
    .tool.eclipse Eclipse
    .tool.xcode Xcode
    .tool.gulp gulp/grunt

  h2.exp EXPERIENCE
  timeline

