.chart-section {
  flex: 0 0 50%;
  $colPadding: 20px;

  .rows {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;
    overflow: hidden;

    .chart-row {
      flex: 0 0 auto;
      margin-top: 5px;
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0 0 5px rgba(0,0,0,.1);
      transition: all .7s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  h2 {
    text-transform: uppercase;
    padding: 0 $colPadding;
  }
  .chart-row .row {
    $height: 35px;
    height: $height;
    line-height: $height;
    padding: 0 15px;
    color: white;
  }
  &.languages {
    .rows {
      padding-right: $colPadding;
    }

    .chart-row {
      text-align: right;
      border-radius: 5px 3px 3px 5px;
      transform: translateX(150%);
      .row {
        border-radius: 5px 3px 3px 5px;
      }
    }
    h2 {
      text-align: right;
    }
  }
  &.frameworks {
    .rows {
      padding-left: $colPadding;
    }

    .rows {
      align-items: flex-start;
    }
    .chart-row {
      border-radius: 3px 5px 5px 3px;
      transform: translateX(-150%);
      .row {
        border-radius: 3px 5px 5px 3px;
      }
    }
    h2 {
      text-align: left;
    }
  }
}
