.chart-section {
  flex: 0 0 50%;
  $colPadding: 30px;

  .rows {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;
    .chart-row {
      flex: 0 0 auto;
      margin-top: 5px;
    }
  }
  h2 {
    text-transform: uppercase;
    padding: 0 $colPadding - 5;
  }
  .chart-row .row {
    $height: 35px;
    height: $height;
    line-height: $height;
    width: 300px;
    background: blue;
    padding: 0 15px;
    color: white;
  }
  &.languages {
    .chart-row {
      padding-right: $colPadding;
      text-align: right;
      .row {
        border-radius: 5px 3px 3px 5px;
      }
    }
    h2 {
      text-align: right;
    }
  }
  &.frameworks {
    .rows {
      align-items: flex-start;
    }
    .chart-row {
      padding-left: $colPadding;
      .row {
        border-radius: 3px 5px 5px 3px;
      }
    }
    h2 {
      text-align: left;
    }
  }
}
