.timeline
  .node.left.bjg
    .innards
      .title Lead Developer & Designer
      .company Blackjack Genius
      .content.
        Blackjack training game built in PlayCanvas for iOS and Android
      hr
      p Designed entire UI and UX
      p Built interface using Entity-Component system
      p Built and maintained Blackjack model in Haxe
    i.fa.fa-angle-right.pointer
    .date APR 2015 - TODAY
      .sub-date 4 months
    .dot-area
      .dot
  .node.right.glyphite
    .innards
      .title Lead UI Developer & Designer
      .company Glyphite.com
      .content.
        A Node.js webapp that helps developers find and build Bitmap fonts for games.
      hr
      p Designed entire UI and UX
      p Built frontend interface using AngularJS, HTML5, and SASS
      p Organized and managed attendance to Game Developers Conference
    i.fa.fa-angle-left.pointer
    .date SEP 2014 - MAR 2015
      .sub-date 7 months
    .dot-area
      .dot
  .node.left.tal
    .innards
      .title Lead Full-Stack Developer & Design Consultant
      .company Third & Loom.com
      .content.
        An advanced webapp that helps women design custom dresses for any occasion.
      hr
      p Built backend dress interface in Wordpress (PHP) and Ruby on Rails
      p Built frontend interface using AngularJS, HTML5, and SASS
      p Built end-to-end e-commerce interface to enable customer checkout
      p Consulted on interface design and user experience
    i.fa.fa-angle-right.pointer
    .date NOV 2013 - AUG 2014
      .sub-date 10 months
    .dot-area
      .dot
  .node.amazon.right
    .innards
      .title Software Development Engineer (Full-Stack)
      .company Amazon.com
      .content.
        The largest online retailer in the world.
      hr
      p Developed multiple end-to-end features for the Amazon Shopping app for iOS
      p Built the Store Picker experience for all 2013 Kindles
      p Coordinated a team transition from a Perforce-based build system to a git-based one
      p Built the Add-on experience for the Cart in the iOS Shopping app
      p Migrated the iOS Shopping app to a hybrid web-app to make updating faster
      p Upgraded the build system for all Amazon iOS apps for easier access on mobile devices
    i.fa.fa-angle-left.pointer
    .date JAN 2012 - FEB 2014
      .sub-date 2 years
    .dot-area
      .dot
  .node.degree.left
    .innards
      .title B.S.E. Computer Science
      .company The University of Michigan
      .content.
        One of the top 10 public universities in the country.
      hr
      p Graduated with a 3.1 GPA
      p Experience in Materials Science, Aerospace Engineering, and Mechanical Engineering
    i.fa.fa-angle-right.pointer
    .date SEP 2007 - DEC 2011
      .sub-date 4 years
    .dot-area
      .dot
