.timeline
  .node.bjg
    .innards
      .title Blackjack Genius
      .content.
        Blackjack training game built in PlayCanvas for iOS and Android
      .position Lead Developer & Designer
        ul
          li Designed entire UI and UX
          li Built interface using Entity-Component system
          li Built and maintained Blackjack model in Haxe
      .date APR 2015 - TODAY
        .sub-date 4 months
      i.fa.fa-angle-right
      .dot-area
        .dot
  .node.right.glyphite
    .innards
      .title Glyphite.com
      .content.
        A cutting-edge webapp that helps developers find and build Bitmap fonts for games.
      .position Lead Frontend Developer & Lead Designer
        ul
          li Designed entire UI and UX
          li Built frontend interface using AngularJS, HTML5, and SASS
          li Organized and managed attendance to Game Developers Conference
      .date SEP 2014 - MAR 2015
        .sub-date 7 months
      .dot-area
        .dot
  .node.tal
    .innards
      .title Third & Loom
      .content.
        An advanced webapp that helps Brides design and build custom dresses for any occasion.
      .position Lead Full-Stack Developer & Design Consultant
        ul
          li Built backend dress interface in Wordpress (PHP) and Ruby on Rails
          li Built frontend interface using AngularJS, HTML5, and SASS
          li Built end-to-end e-commerce interface to enable customer checkout
          li Consulted on interface design and user experience
      .date NOV 2013 - AUG 2014
        .sub-date 10 months
      .dot-area
        .dot
  .node.amazon.right
    .innards
      .title Amazon.com
      .content.
        The largest online retailer in the world.
      .position Software Development Engineer (Full-Stack)
        ul
          li Developed multiple end-to-end features for the Amazon Shopping app for iOS
          li Built the Store Picker experience for all 2013 Kindles
          li Coordinated a team transition from a Perforce-based build system to a git-based one
          li Lead the effort to build the Add-on experience for the Cart in the iOS Shopping app
          li Lead the effort to convert the iOS Shopping app to a hybrid web-app to make updating faster
          li Lead the effort to upgrade the build system for all Amazon iOS apps for easier access on mobile devices
      .date JAN 2012 - FEB 2014
        .sub-date 2 years
      i.fa.fa-chevron-right
      .dot-area
        .dot
