.timeline
  .column.left
    .node.bjg
      .innards
        a.btn(href="https://play.google.com/store/apps/details?id=com.bjgenius.android&hl=en" target="_blank")
        .title Lead Developer & Designer
        .company Blackjack Genius
        .about.
          Blackjack training game built in PlayCanvas for iOS and Android
        hr
        p Designed interface and user experience with Photoshop
        p Built interface using Entity-Component system
        p Built and maintained Blackjack model in Haxe
      i.fa.fa-angle-right.pointer
      .date APR 2015 - TODAY
        .sub-date 4 months
      .dot-area
        .dot
    .node.tal
      .innards
        a.btn(href="https://thirdandloom.com" target="_blank")
        .title Lead Full-Stack Developer & Design Consultant
        .company Third & Loom.com
        .about.
          Advanced webapp that helps women design custom dresses for any occasion
        hr
        p Designed and implemented backend dress interface in Wordpress (PHP) and Ruby on Rails
        p Built frontend interface using AngularJS, HTML5, and SASS
        p Built end-to-end e-commerce pipeline to enable customer checkout
        p Consulted on interface design and user experience
      i.fa.fa-angle-right.pointer
      .date NOV 2013 - AUG 2014
        .sub-date 10 months
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="https://umich.edu" target="_blank")
        .title B.S.E. Computer Science
        .company The University of Michigan
        .about.
          Ranked the 4th best public school nationwide
      i.fa.fa-angle-right.pointer
      .date SEP 2007 - DEC 2011
        .sub-date 4 years
      .dot-area
        .dot

  .column.right
    .node.glyphite
      .innards
        a.btn(href="http://glyphite.com" target="_blank")
        .title Lead UI Developer & Designer
        .company Glyphite.com
        .about.
          Node.js webapp that helps developers find and build Bitmap fonts for games
        hr
        p Designed interface and user experience with Photoshop
        p Built frontend interface using AngularJS, HTML5, and SASS
        p Organized and managed attendance to Game Developers Conference
      i.fa.fa-angle-left.pointer
      .date SEP 2014 - MAR 2015
        .sub-date 7 months
      .dot-area
        .dot
    .node.amazon
      .innards
        a.btn(href="https://amazon.com" target="_blank")
        .title Software Engineer (Full-Stack)
        .company Amazon.com
        .about.
          Largest online retailer in the world
        hr
        p Developed multiple end-to-end features for the Amazon Shopping app for iOS
        p Built the Store Picker experience for all 2013 Kindles
        p Migrated the iOS Shopping app to a hybrid web-app to make updating faster
        p Built the Add-on experience for the Cart in the iOS Shopping app
        p Coordinated a team transition from Perforce to Git
        p Upgraded the build system for all Amazon iOS apps for easier access on mobile devices
      i.fa.fa-angle-left.pointer
      .date JAN 2012 - FEB 2014
        .sub-date 2 years
      .dot-area
        .dot

